<html>
    <header>
        <title>Novidades em arquitetura</title>
    </header>
    <body>
        <section>
            {% for item in items %}
                <article>
                    <h2><a href="">{{ item.title }}</a></h2>
                    {% if image_path %}
                        <img src="{{ item.image_path }}" />
                    {% else %}
                        <img src="http://placekitten.com/600/400" />
                    {% endif %}
                    <p>
                        {{ item.text }}
                    </p>
                    {{ item.tag }}
                </article>
            {% endfor %}
            <hr>
        </section>
    </body>
</html>
