<html>
    <header>
        <title>Novidades em arquitetura</title>
    </header>
    <body>
        <section>
            {% for item in items %}
                <article>
                    <h2><a href="">{{ item.title }}</a></h2>
                    {% if item.show_tags %}
                        <ul>
                            {% for tag in item.show_tags %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if image_path %}
                        <img src="{{ item.image_path }}" />
                    {% else %}
                        <img src="http://placekitten.com/600/400" />
                    {% endif %}
                    <p>
                        {{ item.text }}
                    </p>
                </article>
            {% endfor %}
            <hr>
        </section>
    </body>
</html>
